  body {

    font-family: Arial;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  img {
    vertical-align: middle;
  }
  .wrapper {

    padding-left: 50px;
    padding-right: 50px;

  }
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    height: 800px;

  position: relative;
  }


  /* Hide the images by default */
  .mySlides {
    display: none;

  }
  .mainImage {
     overflow:auto;
  position: relative;

    height: 800px;
    width: 1000px;

  }
  .mainImage > div{

    overflow:scroll;
    height: 100%;
    width: 100%;

  }

  .allImages > .row {
    height: 120px;
    width: 100%;
      padding: 5px 5px;
  }

  .allImages > .row > .div {
    height: 100%;
    width: 100%;
    padding-left: 5px;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  canvas {
    border: 1px solid black;
    overflow:scroll;
     /*it can be fixed too*/
    padding: 0;
     margin: auto;
     display: block;

     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;

   }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    margin-right: 16px;
    border-radius:  0 3px 3px 0;
  }



  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* Container for image text */
  .caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
    position: relative;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;

  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 16.6%;

  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }
